@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-anim {
    @apply transform transition-all duration-300 ease-in-out;
  }
  .hover-anim:hover {
    transform: scale(1.02);
  }
}
