@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@layer utilities {
  .fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
  }

  .fade-up.show {
    opacity: 1;
    transform: translateY(0);
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-out;
  }

  .fade-in.show {
    opacity: 1;
  }

  .delay-2000 {
    transition-delay: 2s;
  }
  .delay-5000 {
    transition-delay: 5s;
  }
}


@layer components {
  .hover-anim {
  transition: all 300ms ease-in-out;
  transform: scale(1);
}

  .hover-anim:hover {
  transform: scale(1.02);
}
}
