@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@layer components {
  .hover-anim {
  transition: all 300ms ease-in-out;
  transform: scale(1);
}

  .hover-anim:hover {
  transform: scale(1.02);
}
}
