@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@layer base {
  @font-face {
    font-family: "InterVariable";
    font-display: swap !important;
  }
}


@layer components {
  .hover-anim {
  transition: all 300ms ease-in-out;
  transform: scale(1);
}

  .hover-anim:hover {
  transform: scale(1.02);
}
}
