<div 
  class="absolute top-[-20%] left-[-10%] w-96 h-96 
         rounded-full pointer-events-none 
         bg-gradient-to-br from-white/10 to-white/40
         blur-[124px] 
         animate-pulse">
</div>
