---
import { Image } from 'astro:assets';

import ps from '../assets/icons/carousel/ps.webp';
import wp from '../assets/icons/carousel/wp.webp';
import fig from '../assets/icons/carousel/fig.webp';
import html from '../assets/icons/carousel/html.webp';
import js from '../assets/icons/carousel/js.webp';
import as from '../assets/icons/carousel/as.webp';
import ai from '../assets/icons/carousel/ai.webp';
import tail from '../assets/icons/carousel/tail.webp';
import ts from '../assets/icons/carousel/ts.webp';

const logos = [
  { title: "Photoshop", image: ps },
  { title: "Wordpress", image: wp },
  { title: "Figma", image: fig },
  { title: "HTML", image: html },
  { title: "JavaScript", image: js },
  { title: "Astro", image: as },
  { title: "Ilustrator", image: ai },
  { title: "Tailwind", image: tail },
  { title: "Typescript", image: ts },
];
---


<div class="scroll-container animate-blurred-fade-in overflow-hidden flex relative w-full">
    <ul class="flex animate-infinite-scroll py-10 gap-14">
        {logos.concat(logos).map((logo) => (
            <li class="flex-shrink-0 mx-10 w-12 h-12 md:h-14 hover-anim">
                <Image src={logo.image} alt={logo.title} class="h-full w-full object-contain" loading="eager" />
            </li>
        ))}
</ul>

</div>

<style>
    .animate-infinite-scroll {
        display: flex;
        white-space: nowrap;
        animation: infinite-scroll 40s linear infinite;
    }

    .scroll-container {
        -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 50%, rgba(0,0,0,0));
        mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 50%, rgba(0,0,0,0));
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;  
    }

    @keyframes infinite-scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-50% - 30px));
        }
    }

</style>