---
import { Instagram } from "lucide-astro";
import { Paintbrush } from "lucide-astro";
import { Twitter } from "lucide-astro";
import { Linkedin } from "lucide-astro";
import { Github } from "lucide-astro";
import { MessageCircle } from "lucide-astro";
import { HeartPulse } from "lucide-astro";
---

<footer class="w-full py-6 mt-10 md:px-10 px-8 flex flex-col justify-between text-white/70 gap-6">

    <h2 class="section-aria-label !leading-12 lg:!leading-24 !text-[45px] lg:!text-[90px] text-center relative !font-semibold !text-transparent hover:!text-white transition-all duration-600
   outline-none pb-4 mb-10" style="-webkit-text-stroke: 1px white;"><span class="!leading-12 lg:!leading-24 !text-[45px] lg:!text-[90px] !font-semibold !text-white">Let's</span> connect <span class="!leading-12 lg:!leading-24 !text-[45px] lg:!text-[90px] !font-semibold !text-white">and</span> create <span class="!leading-12 lg:!leading-24 !text-[45px] lg:!text-[90px] !font-semibold !text-white">something amazing together!</span></h2>

    <div class="flex flex-col lg:flex-row justify-between items-center gap-4">
        <p><strong class="text-white/90 font-semibold">© 2025 Julian Pinzón.</strong> All rights reserved.</p>

        <div class="social flex flex-row items-center relative group justify-center gap-4">
            <a href="https://www.instagram.com/julian.c.ariz/" target="_blank" rel="noopener noreferrer" aria-label="instagram"><Instagram class="icons-media hover-anim" /></a>
            <a href="https://www.behance.net/julianariza3" target="_blank" rel="noopener noreferrer" aria-label="behance"><Paintbrush class="icons-media hover-anim" /></a>
            <a href="https://x.com/Julian_c_ariz" target="_blank" rel="noopener noreferrer" aria-label="twitter"><Twitter class="icons-media hover-anim" /> </a>
            <a href="https://www.linkedin.com/in/julianjcpa/" target="_blank" rel="noopener noreferrer" aria-label="linkedin"><Linkedin class="icons-media hover-anim" /></a>
            <a href="https://github.com/Julian-P-A" target="_blank" rel="noopener noreferrer" aria-label="github"><Github class="icons-media hover-anim" /></a>
            <a href="https://wa.me/573166595564?text=Hola%2C%20he%20visto%20tu%20portafolio%20y%20me%20gustar%C3%ADa%20hablar%20sobre%20un%20posible%20proyecto." target="_blank" rel="noopener noreferrer" aria-label="whatsapp"><MessageCircle class="icons-media hover-anim"/></a>
        </div>

        <p class="flex items-center relative group gap-1 font-display"><strong class="text-white/90 font-semibold ">Designed and built</strong> with the <HeartPulse class="h-5 w-5 text-white"/> by me.</p>
    </div>
<footer/>

<style>
    .icons-media {
        cursor: pointer;
        width: 24px;
        height: 24px;
        display: inline-block;
        transition: color 0.3s ease-in-out;
    }

    .icons-media:hover {
        color: hsl(0, 0%, 90%);
    }
</style>