<nav class="animate-blurred-fade-in hero section fixed w-full flex justify-between items-center py-6 px-10 top-0 z-50">
    <div class="logo w-1/4 flex justify-start text-white ">
        <a href="#home" class="logo-link !font-semibold !text-xl hover:scale-102 transition duration-300 ease-in-out">JulianPinzon.</a>
    </div>
    <ul class="nav-links flex space-x-10 w-1/2 justify-center text-white/70 ">
        <li><a href="#about" class="nav-link inline-block hover:text-white hover:scale-102 transition duration-300 ease-in-out">About</a></li>
        <li><a href="#projects" class="nav-link inline-block hover:text-white hover:scale-102 transition duration-300 ease-in-out">Projects</a></li>
        <li><a href="#" class="nav-link inline-block hover:text-white hover:scale-102 transition duration-300 ease-in-out">Experience</a></li>  
    </ul>
    <div class="contact-buttom w-1/4 flex justify-end ">
        <a href="#contact" class="contact-link bg-white px-4 py-[5px] rounded-lg hover:scale-102 transition duration-300 ease-in-out">Contact Me</a>    
    </div>     
</nav>
