<div class="animate-fade-in-up hero-section h-screen w-full flex flex-col justify-center items-center px-8 md:px-10 rounded-4xl" id="home">
   
    <div class=" first-part w-full h-1/2 flex flex-col md:flex-row justify-between items-start md:items-end py-14 md:py-0">

        <div class="text-part w-full md:w-1/2 items-left text-white space-y-6 flex flex-col">
            <h1 class="hero-title leading-14 md:leading-20 relative text-transparent bg-clip-text bg-gradient-to-r from-amber-500 to-orange-600">Hey, I'm <br>
                <span class="!text-[55px] md:!text-[90px] !text-white">Julian Pinzon</span></h1>
        </div>

        <div class=" text-part-2 w-full md:w-1/2 flex flex-col items-start md:items-end text-left md:text-right space-y-4 py-0 md:py-10">
            <h2 class=" hero-subtitle !text-[18px] md:!text-[30px] !text-white/85 "><strong class="text-transparent bg-clip-text bg-gradient-to-r from-amber-500 to-orange-600">UI/UX</strong> Designer and <strong class="text-transparent bg-clip-text bg-gradient-to-r from-amber-500 to-orange-600">Front-End</strong> Developer</h2>
            <p class=" hero-description !text-white/85">Focused on creating intuitive, functional, and visually engaging digital experiences. <strong>Let's build something amazing together!</strong></p>
        </div>

    </div> 
    
    <div class="animate-fade-in-up second-section h-1/2 grid grid-cols-4 w-full py-10 items-end text-left sm:gap-1 md:gap-10 lg:gap-30 xl:gap-60">
        
        <div class="value-1">
            <h2 class="text-white "><strong class="!text-amber-400">+</strong>01</h2>
            <p class="text-white/85 !font-semibold">UX/UI Designer</p>
        </div>
        <div class="value-2">
            <h2 class="text-white"><strong class="!text-amber-400">+</strong>02</h2>
            <p class="text-white/85 !font-semibold">Years of Experience</p>
        </div>
        <div class="value-3">
            <h2 class="text-white"><strong class="!text-amber-400">+</strong>03</h2>
            <p class="text-white/85 !font-semibold">Frontend Developer</p>
        </div>
        <div class="value-4">
            <h2 class="text-white"><strong class="!text-amber-400">+</strong>04</h2>
            <p class="text-white/85 !font-semibold">Wordpress Developer</p>  
        </div>

    </div>
        
</div>

<style>
    .hero-section {
        background-image: url('/imgs/background3.webp');
        background-size: cover;
        background-position: center;
    }
</style>