<main class="hero-section h-screen w-full flex flex-col justify-center items-center px-8 md:px-10 rounded-4xl" id="home" >
    <img src="imgs/background3.webp" alt="hero background" class="animate-fade-in-up hero-bg absolute inset-0 w-full h-full object-cover z-1" fetchpriority="high" decoding="async" />
    <div class="animate-fade-in-up hero-overlay absolute inset-0 pointer z-0"></div>

    <div class="animate-fade-in-up first-part w-full h-1/2 flex flex-col md:flex-row justify-start  md:justify-between items-start md:items-end py-22 md:py-0 z-10">

        <div class="text-part w-full md:w-1/2 items-left text-white space-y-6 flex flex-col">
            <h1 class="hero-title leading-14 md:leading-18 text-white/60">Hey, I'm <br>
                <span class="!text-[55px] md:!text-[90px] !text-white font-medium">Julian Pinzon</span></h1>
        </div>

        <div class=" text-part-2 w-full md:w-1/2 flex flex-col items-start md:items-end text-left md:text-right space-y-2 py-0 md:py-10">
            <h2 class=" hero-subtitle !text-[18px] md:!text-[30px] !text-white/60 font-normal"><strong class="text-white !font-bold">UI/UX</strong> Designer and <strong class="text-white !font-bold">Front-End</strong> Developer</h2>
            <p class=" hero-description ">Focused on creating intuitive, functional, and visually engaging digital experiences. <strong>Let's build something amazing together!</strong></p>
        </div>

    </div> 
    
    <div class="animate-fade-in-up second-section h-1/2 grid grid-cols-4 w-full py-10 items-end text-left sm:gap-1 md:gap-10 lg:gap-30 xl:gap-60 z-10">
        
        <div class="value-1">
            <h2 class="text-white "><strong class="!text-white/60">+</strong>01</h2>
            <p class="text-white/80 font-medium">UX/UI Designer</p>
        </div>
        <div class="value-2">
            <h2 class="text-white"><strong class="!text-white/60">+</strong>02</h2>
            <p class="text-white/80 font-medium">Years of Experience</p>
        </div>
        <div class="value-3">
            <h2 class="text-white"><strong class="!text-white/60">+</strong>03</h2>
            <p class="text-white/80 font-medium">Frontend Developer</p>
        </div>
        <div class="value-4">
            <h2 class="text-white"><strong class="!text-white/60">+</strong>04</h2>
            <p class="text-white/80 font-medium">Wordpress Developer</p>  
        </div>

    </div>

    
        
</main>

<style>
    .hero-section {
        position: relative;
        overflow: hidden;
    }   

    .hero-overlay {
        background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.35) 5%,
        rgba(255, 255, 255, 0.25) 10%,
        rgba(255, 255, 255, 0.15) 15%,
        rgba(255, 255, 255, 0.08) 20%,
        rgba(255, 255, 255, 0.03) 25%,
        rgba(255, 255, 255, 0.01) 30%,
        rgba(255, 255, 255, 0) 35%
        );
    }
</style>