<div class="hero section h-screen w-full flex flex-col justify-center items-center px-10">
   
    <div class="animate-fade-in-up first-section w-full h-1/2 flex flex-row justify-between items-end ">

        <div class="text-section w-1/2 items-left text-white space-y-6 flex flex-col">
            <h1 class=" hero-title leading-20 relative">Hey, I'm <br>
                <span class="!text-[90px]">Julian Pinzon</span></h1>
        </div>

        <div class=" text-section-2 w-1/2 flex flex-col items-end text-right space-y-6 py-10">
            <p class=" hero-description !text-white/85"><strong>UX/UI Designer and Front-End Developer</strong> focused on creating intuitive, functional, and visually engaging digital experiences. <strong>Let's build something amazing together!</strong></p>
            <div class="button-group flex flex-row space-x-4 " >
                <a href="#about" class="hero-button bg-white px-4 py-[5px] rounded-lg text-black">About Me</a>
                <a href="#projects" class="hero-button contact-link bg-white px-4 py-[5px] rounded-lg text-black">View Projects</a>
            </div>
        </div>

    </div> 
    
    <div class="animate-fade-in-up second-section h-1/2 grid grid-cols-4 w-full py-10 items-end text-left sm:gap-1 md:gap-10 lg:gap-30 xl:gap-60">
        
        <div class="value-1">
            <h2 class="text-white/85 ">2+</h2>
            <p class="text-white/70">Years of Experience</p>
        </div>
        <div class="value-2">
            <h2 class="text-white/85">5+</h2>
            <p class="text-white/70">Years of Experience</p>
        </div>
        <div class="value-3">
            <h2 class="text-white/85">5+</h2>
            <p class="text-white/70">Years of Experience</p>
        </div>
        <div class="value-4">
            <h2 class="text-white/85">5+</h2>
            <p class="text-white/70">Years of Experience</p>  
        </div>

    </div>
        
</div>