---
import { Image } from 'astro:assets';
import pp from '../assets/imgs/Profile.webp';
import InfiniteScrollCarousel from '../components/InfiniteScrollCarousel.astro';
import Blop from '../components/Blop.astro';
---

<main class="hero-section h-screen max-w-6xl mx-auto flex flex-col justify-center items-center px-8 md:px-10 my-10 gap-5" id="home">
    <Blop />

    <div class="animate-fade-in-up profile-container flex flex-row justify-start items-center gap-2">
        <div class="profile-part w-12 h-12 rounded-full overflow-hidden border-1 border-white/20 shadow-lg">
            <Image src={pp} alt="Profile" class="w-full h-full object-cover" loading="eager" />
        </div>

        <div class="second-part h-1/2 flex flex-col justify-center items-start gap-1">
            <h2 class="!text-white/90 !font-tight !text-base ml-1 leading-tight">Hi, I'm Julian</h2>

            <span class="open-to-work inline-flex items-center gap-2 px-3 py-1 rounded-full !text-xs font-medium bg-white/10 text-white/90 backdrop-blur-md">
                <span class="w-2 h-2 rounded-full bg-green-400 animate-pulse"></span>
                Open to Work
            </span>
        </div>
    </div>

    <h1 class="animate-fade-in-up !text-white/95 hero-title !text-4xl md:!text-7xl lg:!text-8xl !font-bold text-center !leading-none w-full mt-2">
        UX<span class="!text-white/60 hero-title !text-4xl md:!text-7xl lg:!text-8xl !font-bold !leading-none">/</span>UI Design<span class="!text-white/60 hero-title !text-4xl md:!text-7xl lg:!text-8xl !font-bold text-left !leading-none">er and</span><br />
        Front<span class="!text-white/60 hero-title !text-4xl md:!text-7xl lg:!text-8xl !font-bold !leading-none">end</span> Developer
    </h1>

    <p class="animate-fade-in-up !text-white/70 hero-subtitle text-center md:!text-lg">
        I craft engaging digital experiences through intuitive design and seamless development.
    </p>

    <div class="animate-fade-in-up hero-buttons flex flex-row justify-center items-center gap-6 mt-6 hover-anim">
        <div class="animate-blurred-fade-in contact-buttom">
            <a href="https://wa.me/573166595564?text=Hola%2C%20he%20visto%20tu%20portafolio%20y%20me%20gustar%C3%ADa%20hablar%20sobre%20un%20posible%20proyecto."
                class="contact-link bg-white px-4 py-[7px] rounded-lg hover-anim"
                target="_blank" rel="noopener noreferrer">
                Contact Me
            </a>
        </div>

        <div class="animate-blurred-fade-in projects-buttom">
            <a href="#projects" class="projects-link border border-white/30 px-4 py-[7px] rounded-lg hover-anim !text-white/90"> 
                See My Work
            </a>
        </div>
    </div>

    <p class="animate-fade-in-up !text-white/50 hero-scroll-indicator text-sm">
        *Making things move since 2021*
    </p>

    <InfiniteScrollCarousel />
</main>
