<div class="animate-fade-in-up hero-section h-screen w-full flex flex-col justify-center items-center px-10 rounded-4xl">
   
    <div class=" first-section w-full h-1/2 flex flex-row justify-between items-end ">

        <div class="text-section w-1/2 items-left text-white space-y-6 flex flex-col">
            <h1 class="hero-title leading-20 relative !text-amber-600">Hey, I'm <br>
                <span class="!text-[90px] !text-white">Julian Pinzon</span></h1>
        </div>

        <div class=" text-section-2 w-1/2 flex flex-col items-end text-right space-y-4 py-10">
            <h2 class=" hero-subtitle !text-white/85 "><strong class="!text-amber-600">UI/UX</strong> Designer and <strong class="!text-amber-600">Front-End</strong> Developer</h2>
            <p class=" hero-description !text-white/85">focused on creating intuitive, functional, and visually engaging digital experiences. <strong>Let's build something amazing together!</strong></p>
        </div>

    </div> 
    
    <div class="animate-fade-in-up second-section h-1/2 grid grid-cols-4 w-full py-10 items-end text-left sm:gap-1 md:gap-10 lg:gap-30 xl:gap-60">
        
        <div class="value-1">
            <h2 class="text-black/85 "><strong class="!text-amber-400">+</strong>01</h2>
            <p class="text-black/70 !font-semibold">Years of Experience</p>
        </div>
        <div class="value-2">
            <h2 class="text-black/85"><strong class="!text-amber-400">+</strong>02</h2>
            <p class="text-black/70 !font-semibold">UX/UI Designer</p>
        </div>
        <div class="value-3">
            <h2 class="text-black/85"><strong class="!text-amber-400">+</strong>03</h2>
            <p class="text-black/70 !font-semibold">Frontend Developer</p>
        </div>
        <div class="value-4">
            <h2 class="text-black/85"><strong class="!text-amber-400">+</strong>04</h2>
            <p class="text-black/70 !font-semibold">Wordpress Developer</p>  
        </div>

    </div>
        
</div>

<style>
    .hero-section {
        background-image: url('/imgs/background.webp');
        background-size: cover;
        background-position: center;
    }
</style>