<div class="title-time px-10 md:px-20 py-5 max-w-2xl mx-auto text-center bt-10 mb-10 scroll-mt-20" id="experience">
    <h2 class="text-3xl font-bold text-white/90 mb-2">A simple process from your vision to the final design.</h2>
    <p class="text-white/70">A brief overview of my professional journey and milestones.</p>
</div>

<div class="timeline-container relative max-w-2xl mx-auto flex flex-col">
    <!-- Línea y contenedor recortado -->
    <div class="absolute h-full w-[2px] left-0 overflow-hidden">
        <!-- Estrella fugaz -->
        <div id="shooting-star" 
             class="absolute left-[-4px] w-2 h-60 rounded-full shadow-lg"
             style="background: linear-gradient(to top, #f07d0a, #0F0F0F);">
        </div>
    </div>
        <div class="timeline-content w-full text-left px-8 py-5 gap-2 flex flex-col">
            <h2 class="!text-xl text-amber-600">01 / WordPress Developer </h2>
            <h3 class="!text-4xl text-white/90">Freelance</h3>
            <p class="text-white/70">I began my career offering freelance web development and design services, creating custom websites for a variety of clients and gaining hands-on experience in UX/UI and WordPress.</p>
            <img src="imgs/timeline/Diapositiva1.webp" alt="Timeline 1" class="w-[450px] h-auto mx-auto my-10" loading="lazy"/>
        </div>

        <div class="timeline-content w-full text-left px-8 py-5 gap-2 flex flex-col">
            <h2 class="!text-xl text-amber-600">02 / Web developer & designer</h2>
            <h3 class="!text-4xl text-white/90">Space Marketing</h3>
            <p class="text-white/70">I worked for two years as a staff member, designing and developing websites, optimizing user experiences, and collaborating on comprehensive digital marketing projects.</p>
            <img src="imgs/timeline/Diapositiva1.webp" alt="Timeline 1" class="w-[450px] h-auto mx-auto my-10" loading="lazy"/>
        </div>

        <div class="timeline-content w-full text-left px-8 py-5 gap-2 flex flex-col">
            <h2 class="!text-xl text-amber-600">03 / Freelance contributor</h2>
            <h3 class="!text-4xl text-white/90">Space Marketing</h3>
            <p class="text-white/70">I currently continue to contribute as a freelancer, managing web and design projects with greater independence, applying new technologies and creative solutions for the agency's clients.</p>
            <img src="imgs/timeline/Diapositiva3.webp" alt="Timeline 3" class="w-[450px] h-auto mx-auto my-10" loading="lazy"/>
        </div>

         <div class="timeline-content w-full text-left px-8 py-5 gap-2 flex flex-col">
            <h2 class="!text-xl text-amber-600">04 / Founder</h2>
            <h3 class="!text-4xl text-white/90">Kaede Project</h3>
            <p class="text-white/70">I am creating my own digital solutions company, focused on web development, UX/UI design, and digital strategies, consolidating all my experience and creative vision into my own project.</p>
            <img src="imgs/timeline/Diapositiva4.webp" alt="Timeline 4" class="w-[450px] h-auto mx-auto my-10" loading="lazy"/>
        </div>
</div>
        
    
<style>

    
</style>

<script>
const star = document.getElementById('shooting-star');
const timeline = document.querySelector('.timeline-container');

window.addEventListener('scroll', () => {
    const scrollTop = window.scrollY;
    const viewportHeight = window.innerHeight;
    const timelineTop = timeline.offsetTop;
    const timelineHeight = timeline.offsetHeight;

    // Posición de la estrella relativa a la pantalla
    let progress = (scrollTop + viewportHeight/2 - timelineTop) / timelineHeight;

    // Limitar entre -0.2 y 1.2 para que desaparezca antes y después
    progress = Math.min(Math.max(progress, -0.2), 1.2);

    // Mover la estrella dentro del contenedor máscara
    const topPos = progress * timelineHeight - star.offsetHeight;
    star.style.top = `${topPos}px`;
});



</script>

    