---
import "@fontsource-variable/inter/variable.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <title>Portfolio Julian Pinzon</title>

    <!-- SEO -->
    <meta name="description" content="Julian Pinzon - Portafolio" />
    <meta name="keywords" content="Julian, Julian Pinzon, Diseño Ux, Desarrollo Web" />
    <meta name="author" content="Julian Camilo Pinzon Ariza" />
    <meta name="robots" content="index, follow" />
  </head>

  <body>
    <slot />
    <div id="cursor"></div>
  </body>
</html>


<style is:global>
  @import "/src/styles/global.css";
  @import "tailwindcss";
  @plugin "@midudev/tailwind-animations";

	html,
	body {
    font-family: "Inter var", "InterVariable", "Inter", system-ui, sans-serif;
    cursor: none;
    background-color: #0f0f0f;
		margin: 0;
		width: 100%;
		height: 100%;
    scroll-behavior: smooth;
	}

  @media(min-width:1024px){
    #cursor {
            position: fixed;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
            pointer-events: none;
            mix-blend-mode: difference; /* La magia de la inversión de color */
            z-index: 9999;
            transform: translate(-50%, -50%);
            transition: width 0.3s, height 0.3s;
        }

    body:hover #cursor {
            opacity: 1;
        }
  }

  /* ==== TIPOGRAFÍA GLOBAL ==== */
h3, h4, h5, h6, p, li, span { 
  font-family: "Inter var", "InterVariable", "Inter", system-ui, sans-serif;
  font-weight: 300;
  letter-spacing: -0.025em;
  font-size: 14px;
}

p { 
  font-family: "Inter var", "InterVariable", "Inter", system-ui, sans-serif;
  font-weight: 300;
  letter-spacing: -0.025em;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.75);
}

a { 
  font-family: "Inter var", "InterVariable", "Inter", system-ui, sans-serif;
  font-weight: 400;
  letter-spacing: -0.025em;
  font-size: 14px;
}

h1, h2 {
  font-family: "Inter var", "InterVariable", "Inter", system-ui, sans-serif;
  font-weight: 400;
  letter-spacing: -0.025em;
  font-size: 30px;
}
</style>

<script defer type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const cursor = document.getElementById("cursor");
    if (!cursor) return;

    document.addEventListener("mousemove", (e) => {
      cursor.style.left = e.clientX + "px";
      cursor.style.top = e.clientY + "px";
    });

    const hoverElements = document.querySelectorAll(
      "a, button, h1, h2, img, .group, .inner-timeline"
    );

    hoverElements.forEach((el) => {
      el.addEventListener("mouseenter", () => {
        cursor.style.width = "30px";
        cursor.style.height = "30px";
      });

      el.addEventListener("mouseleave", () => {
        cursor.style.width = "10px";
        cursor.style.height = "10px";
      });
    });
  });
</script>
